@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply cursor-pointer inline-block text-center text-white py-2 px-4 rounded disabled:bg-gray-500;

        &:not(:disabled):hover {
            @apply brightness-75;
        }
    }
    .btn-primary {
        @apply bg-primary;
    }
    .btn-dark {
        @apply bg-gray-800 hover:bg-gray-900;
    }
    .btn-lg {
        @apply text-2xl py-4 px-6;
    }
    .btn-sm {
        @apply text-sm py-1 px-2 text-sm;
    }

    .section {
        @apply py-10;
    }

    .container {
        @apply mx-auto px-4;
    }

    .form-group {
        @apply mb-4;
    }
    .form-control {
        @apply px-2 py-1 rounded border border-gray-300 focus:border-gray-500 placeholder:text-gray-600 text-gray-800 max-w-full w-full;

        &.is-invalid {
            @apply border-red-500;

            & + .invalid-feedback {
                @apply block;
            }
        }
    }

    .invalid-feedback {
        @apply text-red-500 text-sm hidden;
    }

    .view {
        min-height: 100vh;
        width: 100%;
        background-repeat: repeat;
        background-position: top left;
    }

    .space-bg {
        background-image: url("/resources/images/space-bg-pattern.jpg");
    }

    .banner {
        background: no-repeat;
        background-size: 100% auto;
        background-position: center top;
    }
    .banner-2 {
        background-image: url("/resources/images/banner-2.jpg");
    }
}
